**/a.out
build
build/**
.vscode
**/.env
**/.obj
*.spv
littleVulkanEngine/sandbox/**
*.a
textures_
models/viking_room.obj
imgui.ini
.env.cmake

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps